@using System.Web.Http
@using TVSI.Bond.WebAPI.Areas.HelpPage.ModelDescriptions
@model ModelDescription

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper">
            
            <p style="font-size: 20px;">
                <span style="font-size: 30px;">&#8617;</span>  @Html.ActionLink("TVSI Web API Help Page", "Index")
            </p>
            
        </div>
    </section>
    <h1>@Model.Name</h1>
    <p>@Model.Documentation</p>
    <section class="content-wrapper main-content clear-fix">
        @Html.DisplayFor(m => Model)
    </section>
</div>
