﻿
<table style="line-height:20px; font-family:Arial; font-size:12px;text-align:justify;">
    <tr>
        <td style="background:#fff; border:0px;">
            <div style="text-align:center;">
                <div><b>ĐỀ NGHỊ MUA TRÁI PHIẾU</b></div>
                <div>Số:..../HĐGDTP-M/TVSI-KH</div>
                <p />
                <b>ĐỀ NGHỊ MUA TRÁI PHIẾU</b> này được thành lập và gửi ngày {{Day}} tháng {{Month}} năm {{Year}}
            </div>
            <div style="text-align:justify;">
                <b>TỪ BÊN MUA:</b> Khách hàng : {{CustName}}<p/>
                Giấy CMND/CCCD/CNĐKDN số: {{CardID}}<p/>
                Ngày cấp: {{IssueDate}}<p />
                Nơi cấp: {{CardIssuer}}<p/>
                Địa chỉ: {{Address}}<p />
                Số TK GDCK: 044C{{AccountNo}}<p />
                Tại: {{TVSI_COMPANY_NAME}}<p />
                Phần dành riêng cho khách hàng là tổ chức<p />
                Người đại diện theo pháp luật: {{AuthorizedName}}<p />
                Chức vụ: {{Position}}<p />
                Người đại diện theo ủy quyền: {{OwnName}}<p />
                Theo Giấy ủy quyền số: {{AuthorizedNo}}<p />
                Ngày: {{AuthorizedDate}}<p />
                <b>ĐẾN: CÔNG TY CỔ PHẦN CHỨNG KHOÁN TÂN VIỆT ("TVSI")</b><p/>
                <b>1.	Bên Mua đặt mua trái phiếu từ TVSI theo các điều khoản dưới đây và quy định của Hợp Đồng Khung "về giao dịch mua trái phiếu"</b></p>

                1.1.	<u>Thông tin Trái phiếu giao dịch:<p /></u> 
                -	Tên Trái Phiếu: {{BOND_NAME}}<p />
                -	Mã Trái Phiếu: {{BOND_CODE}}<p />
                -	Tổ chức phát hành: {{BOND_ISSUER}}<p />
                -	Loại hình trái phiếu: {{BOND_LOTTYPE}}<p />
                -	Ngày phát hành: {{OCBOND_ISSUEDATE}}<p />
                -	Ngày đáo hạn: {{OCBOND_MATURITYDATE}}<p />
                -	Mệnh giá: {{BOND_PARVALUE}}<p />
                1.2.	<u>Thông tin giao dịch<p /></u>
                -	Ngày giao dịch: {{TradeDate}}<p />
                -	Số lượng Trái phiếu Giao dịch: {{Volume}} Trái phiếu;<p />
                -	Đơn giá mua: {{OpenPrice}} VNĐ/Trái phiếu;<p />
                -	Tổng giá mua trái phiếu: {{Amount}} VNĐ;<p />
                <i>(Bằng chữ: {{AmountByWord}} đồng)</i><p />
                -	Ngày nhận quyền sở hữu trái phiếu: 05 (năm) ngày làm việc kể từ Ngày Giao Dịch.<p />

                <b>2.	Phương thức thanh toán:</b><p />

                Vào Ngày giao dịch, Bên Mua sẽ thực hiện thanh toán toàn bộ Tổng giá mua Trái Phiếu như quy định tại mục 1 này cho Bên Bán ngay sau khi ký Hợp đồng theo một trong hai cách dưới đây:<p />
                a.	Chuyển khoản vào tài khoản của Bên Bán theo thông tin sau:<p />
                -	Người thụ hưởng	:	Công ty cổ phần chứng khoán Tân Việt<p />
                -	Số tài khoản	:	{{TVSI_DEPOSIT_NO}}<p />
                -	Mở tại          :	{{TVSI_DEPOSIT_A}}<p />
                -	Nội dung	:	{{CustName}} TK 044C{{AccountNo}} chuyển tiền mua {{Volume}} trái phiếu {{BOND_CODE}}<p />
                Hoặc<p />
                b.	Chuyển tiền vào Tài khoản giao dịch chứng khoán của Bên Mua nêu tại phần đầu Hợp đồng này bằng cách nộp tiền vào một trong các tài khoản ngân hàng chuyên dụng của Công ty cổ phần Chứng khoán Tân Việt dành cho nhà đầu tư với nội dung: Nộp tiền tài khoản 044C{{AccountNo}} của {{CustName}}.<p/>
                TVSI sẽ tự động cắt tiền từ tài khoản giao dịch chứng khoán của Khách hàng để thanh toán Tổng giá mua Trái Phiếu vào tài khoản Bên Bán theo thông tin nêu tại mục 1 tại đây.<p />
                <b>3.	Văn bản này là một Đề nghị mua trái phiếu quy định tại Hợp Đồng Khung về giao dịch mua trái phiếu.</b>
            </div>
            <div style="text-align:center;">
                <b>BÊN MUA</b><p />
                [Sau khi Lệnh này được Bên Mua lập, dữ liệu lịch sử lập Lệnh của Bên Mua sẽ được ghi tại đây.]
                <p></p>
                <p></p>
                <p />
            </div>
        </td>
    </tr>
</table>