﻿<table style="line-height:20px; font-family:Arial; font-size:12px;text-align:justify;">
    <tr>
        <td style="background:#fff; border:0px;">
            <div style="text-align:center;">
                <div><b>ĐỀ NGHỊ BÁN TRÁI PHIẾU</b></div>
                <div>Số:..../HĐGDTP-B/TVSI-KH</div>
                <b>ĐỀ NGHỊ BÁN TRÁI PHIẾU</b> này được thành lập và gửi ngày {{Day}} tháng {{Month}} năm {{Year}}<p />
            </div>
            <div style="text-align:justify">
                Căn cứ theo HĐ khung về giao dịch Bán trái phiếu đã được ký kết giữa khách hàng và TVSI;<div />
                Căn cứ theo Đề nghị mua Trái phiếu số:  .../ĐNGDTP-M/TVSI-KH;<div /><p />

                <b>TỪ BÊN BÁN:</b> Khách hàng: {{CustName}}<p />
                Giấy CMND/CCCD/CNĐKDN số: {{CardID}}<p />
                Ngày cấp: {{IssueDate}}<p />
                Nơi cấp: {{CardIssuer}}<p />
                Địa chỉ: {{Address}}<p />
                Số TK GDCK: 044C{{AccountNo}}<p />
                Tại: {{TVSI_COMPANY_NAME}}<p />
                Phần dành riêng cho khách hàng là tổ chức<p />
                Người đại diện theo pháp luật: {{AuthorizedName}}<p />
                Chức vụ: {{Position}}<p />
                Người đại diện theo ủy quyền: {{OwnName}}<p />
                Theo Giấy ủy quyền số: {{AuthorizedNo}}<p />
                Ngày: {{AuthorizedDate}}<p />

                <b>ĐẾN: CÔNG TY CỔ PHẦN CHỨNG KHOÁN TÂN VIỆT ("TVSI")</b>

                <b>1.	Bên Bán đặt Bán trái phiếu cho TVSI theo các điều khoản dưới đây và quy định của Hợp Đồng Khung "về giao dịch bán trái phiếu"</b><p />

                1.1.	<u>Thông tin trái phiếu giao dịch<p /></u>
                -	Tên Trái Phiếu: {{BOND_NAME}}<p />
                -	Mã Trái Phiếu: {{BOND_CODE}}<p />
                -	Tổ chức phát hành: {{BOND_ISSUER}}<p />
                -	Loại hình trái phiếu: {{BOND_LOTTYPE}}<p />
                -	Ngày phát hành: {{OCBOND_ISSUEDATE}}<p />
                -	Ngày đáo hạn: {{OCBOND_MATURITYDATE}}<p />
                -	Mệnh giá: {{BOND_PARVALUE}}<p />
                1.2.	Thông tin giao dịch<p />
                -	Ngày giao dịch: {{SellDate}}<p />
                -	Số lượng Trái phiếu Giao dịch: {{Volume}}  Trái phiếu;<p />
                -	Đơn giá bán: {{SellPrice}} VNĐ/Trái phiếu;<p />
                -	Tổng giá bán trái phiếu: {{SellPriceAmount}} VNĐ;<p />
                <i>(Bằng chữ: {{SellPriceAmountByWord}} đồng)</i><p />
                Tổng giá bán Trái Phiếu đã bao gồm tổng các khoản Gốc, Lãi Trái Phiếu tích lũy đến thời điểm bán, các khoản lợi tức khác liên quan đến Trái Phiếu (nếu có)<p />
                -	Thuế thu nhập cá nhân (nếu có): {{SellPIT}} VND<p />
                -	Số tiền Bên Bán thực nhận (sau khi trừ thuế): {{SellActualAmount}} VND<p />
                <i>(Bằng chữ: {{SellActualAmountByWord}} đồng)</i><p />
	             -	Ngày chuyển giao quyền sở hữu trái phiếu: {{SellDate}}<p />

                <b>2.	Phương thức thanh toán:</b><p />

                Bên Mua sẽ thực hiện thanh toán toàn bộ Số tiền Bên Bán thực nhận cho Bên Bán bằng việc chuyển khoản vào Tài khoản thanh toán của Bên Bán, trường hợp ngày thanh toán trùng ngày nghỉ (thứ 7, chủ nhật), ngày lễ, Tết việc chuyển tiền sẽ thực hiện vào các ngày làm việc kế tiếp.<p />
                Thông tin tài khoản thanh toán:<p />
                -	Người thụ hưởng	:	{{BankAccountName}}<p />
                -	Số tài khoản	:	{{BankAccountNo}}<p />
                -	Mở tại          :	{{BankName}} - {{BankBranchName}}<p />

                <b>3.	Chuyển giao cho Bên Mua quyền sở hữu Trái Phiếu trước Ngày giao dịch bán hay Ngày Thực hiện việc chuyển giao quyền sở hữu </b><p />
                Bên Bán không được chuyển giao cho Bên Bán quyền sở hữu Trái Phiếu trước Ngày Thực hiện việc chuyển giao quyền sở hữu.<p />
                Ngoại trừ trường hợp, trước và/hoặc tại Ngày Thực hiện việc chuyển giao quyền sở hữu Trái Phiếu nếu Tổ chức phát hành có thông báo về việc mua lại Trái Phiếu trước Ngày đáo hạn thì tại đây Bên Mua và Bên Bán đồng ý, ngay khi Bên Mua nhận được thông báo của Tổ chức phát hành thì Bên Mua sẽ được tự động chuyển nhượng Trái Phiếu từ Bên Bán sang Bên Mua tại Đại lý lưu ký, Bên Mua sẽ thanh toán cho Bên Bán Tổng giá bán Trái phiếu điều chỉnh được tính bằng tổng mệnh giá Trái Phiếu cộng khoản tiền phạt và các khoản khác (nếu có). Khoản tiền phạt được xác định bằng tỷ lệ {{Rate}}%/năm trên Tổng Mệnh giá Trái phiếu tính từ thời điểm Bên Bán sở hữu Trái Phiếu đến ngày Bên Bán chuyển quyền sở hữu sang cho Bên Mua tại Đại lý lưu ký.<p />

                <b>4.	Quyền nhận lãi Trái phiếu và các quyền, nghĩa vụ khác phát sinh liên quan đến Trái phiếu.</b><p />
                Toàn bộ quyền nhận gốc và lãi trái phiếu (sau đây gọi chung là “Gốc Lãi Trái Phiếu”) và các quyền, nghĩa vụ khác phát sinh theo thông báo của Tổ chức phát hành liên quan đến Số lượng Trái phiếu Giao dịch thuộc sở hữu của Bên Mua, cụ thể, trong suốt thời gian Bên Bán nắm giữ số Trái Phiếu nêu trên, Bên Bán sẽ được hưởng và sở hữu toàn bộ khoản Gốc Lãi Trái Phiếu phát sinh cộng dồn chưa thanh toán từ số Trái Phiếu kể từ ngày Bên Bán sở hữu Trái phiếu. Theo đó, Gốc Lãi Trái Phiếu sẽ được chuyển vào tài khoản của Bên Mua. Bên Mua có toàn quyền đơn phương thay đổi các thông tin về (i) người thụ hưởng và sở hữu tiền lãi Trái Phiếu và (ii) tài khoản nhận tiền lãi Trái Phiếu mà không cần bất kỳ sự đồng ý/chấp thuận/cho phép/xác nhận dưới bất kỳ hình thức nào của  Bên Bán.<p />
                Trong trường hợp Bên Bán yêu cầu nhận Gốc Lãi Trái Phiếu từ Tổ Chức Phát Hành bằng văn bản, Bên Bán có nghĩa vụ thanh toán các khoản thuế, phí theo quy định của Pháp luật đồng thời, Bên Mua có toàn quyền điều chỉnh Tổng giá bán Trái Phiếu đã được quy định tại mục 1 này và Bên Bán tại đây đồng ý về mức điều chỉnh này do Bên Mua quyết định.<p />

                <b>5.	Văn bản này là một Đề nghị bán Trái phiếu quy định tại Hợp Đồng Khung về giao dịch bán Trái phiếu.</b><p />
            </div>
            <div style="text-align:center;">
                <b>BÊN BÁN</b><p />
                [Sau khi Lệnh này được Bên Bán lập, dữ liệu lịch sử lập Lệnh của Bên Bán sẽ được ghi tại đây.]
                <p />
                <p /><p />
            </div>
        </td>
    </tr>
</table>
