﻿<table style="line-height:20px; font-family:Arial; font-size:12px;text-align:justify;" cellpadding="0" cellspacing="0">
    <tr>
        <td style="background:#fff; border:0px;">
            <div style="text-align:center;">
                <div><b>ĐỀ NGHỊ THAY ĐỔI NGÀY BÁN TRÁI PHIẾU</b></div>
                <div>Số: {{ContractNo}}/HĐGDTP-B/TVSI-KH</div><p />
                <b>ĐỀ NGHỊ THAY ĐỔI NGÀY BÁN TRÁI PHIẾU</b> này được lập và gửi ngày {{Day}} tháng {{Month}} năm {{Year}}<p />
            </div>
            <div style="text-align:justify;">
                <div>Căn cứ theo HĐ khung về giao dịch Bán trái phiếu đã được ký kết giữa khách hàng và TVSI;</div>
                <div>Căn cứ theo Đề nghị mua Trái phiếu số:  {{ContractNo}}/ĐNGDTP-M/TVSI-KH;</div>
                <div>Căn cứ theo Đề nghị bán Trái phiếu số:  {{ContractNo}}/ĐNGDTP-B/TVSI-KH và các đề nghị/ phụ lục liên quan</div><p />

                <p><b>TỪ BÊN BÁN:</b> Khách hàng: {{CustName}}</p>
                <p>Giấy CMND/CCCD/CNĐKDN số: {{CardID}}</p>
                <p>Ngày cấp: {{IssueDate}}</p>
                <p>Nơi cấp: {{CardIssuer}}</p>
                <p>Địa chỉ: {{Address}}</p>
                <p>Số TK GDCK: 044C{{AccountNo}}</p>
                <p>Tại: {{TVSI_COMPANY_NAME}}</p>
                <p>Phần dành riêng cho khách hàng là tổ chức</p>
                <p>Người đại diện theo pháp luật: {{AuthorizedName}}</p>
                <p>Chức vụ: {{Position}}</p>
                <p>Người đại diện theo ủy quyền: {{OwnName}}</p>
                <p>Theo Giấy ủy quyền số: {{AuthorizedNo}}</p>
                <p>Ngày: {{AuthorizedDate}}</p>

                <b>ĐẾN: CÔNG TY CỔ PHẦN CHỨNG KHOÁN TÂN VIỆT ("TVSI")</b><p />

                <b>1.	Bên Bán đặt Bán trái phiếu cho TVSI theo các điều khoản dưới đây và quy định của Hợp Đồng Khung "về giao dịch bán trái phiếu"</b><p/>

                1.1.	<u>Thông tin trái phiếu giao dịch<p /></u>
                -	Tên Trái Phiếu: {{BOND_NAME}}<p />
                -	Mã Trái Phiếu: {{BOND_CODE}}<p />
                -	Tổ chức phát hành: {{BOND_ISSUER}}<p />
                -	Loại hình trái phiếu: {{BOND_LOTTYPE}}<p />
                -	Ngày phát hành: {{OCBOND_ISSUEDATE}}<p />
                -	Ngày đáo hạn: {{OCBOND_MATURITYDATE}}<p />
                -	Mệnh giá: {{BOND_PARVALUE}}<p />
                1.2.	<u>Thông tin giao dịch<p /></u>
                -	Ngày giao dịch điều chỉnh: {{RollbackSellDate}}<p />
                -	Số lượng Trái phiếu: {{Volume}} Trái phiếu;<p />
                -	Đơn giá bán: {{RollbackPrice}} VNĐ/Trái phiếu;<p />
                -	Tổng giá bán trái phiếu: {{RollbackSellPrice}} VNĐ;<p />
				Tổng giá bán Trái Phiếu đã bao gồm tổng các khoản Gốc, Lãi Trái Phiếu tích lũy đến thời điểm bán, các khoản lợi tức khác liên quan đến Trái Phiếu (nếu có);<p />
                <i>(Bằng chữ: {{RollbackSellPriceByWord}} đồng)</i><p />
                -	Thuế thu nhập cá nhân (nếu có): {{RollbackPIT}} đồng<p />
                <i>(Bằng chữ: {{RollbackPITByWord}} đồng)</i><p />
                -	Số tiền Bên Bán thực nhận sau khi trừ thuế (nếu có): {{RollbackSellAmount}} đồng.<p />
                <i>(Bằng chữ: {{RollbackSellAmountByWord}} đồng)</i><p />
                -	Ngày chuyển giao quyền sở hữu trái phiếu: {{RollbackSellDate}}<p />

               Bên Mua sẽ thực hiện thanh toán toàn bộ Số tiền Bên Bán thực nhận cho Bên Bán bằng việc chuyển khoản vào Tài khoản thanh toán của Bên Bán, trường hợp ngày thanh toán trùng ngày nghỉ (thứ 7, chủ nhật), ngày lễ, Tết việc chuyển tiền sẽ thực hiện vào các ngày làm việc kế tiếp.<p />
                Thông tin tài khoản thanh toán<p />
                -	Người thụ hưởng	:	{{BankAccountName}}<p />
                -	Số tài khoản	:	{{BankAccountNo}}<p />
                -	Mở tại          :	{{BankName}} - {{BankBranchName}}<p />

			<b>2.	Văn bản này là một Đề nghị thay đổi ngày bán Trái phiếu quy định tại Hợp Đồng Khung về giao dịch bán Trái phiếu.</b><p />
            </div>
            <div style="text-align:center;">
                <b>BÊN BÁN</b><p />
                [Sau khi Lệnh này được Bên Bán lập, dữ liệu lịch sử lập Lệnh của Bên Bán sẽ được ghi tại đây.]
                <p></p>
                <p></p>
            </div>
        </td>
    </tr>
</table>
