﻿<table style="line-height:20px; font-family:Arial; font-size:12px;text-align:justify;" cellpadding="0" cellspacing="0">
    <tr>
        <td style="background:#fff; border:0px;">
            <div style="text-align:center;">
                <div><b>ĐỀ NGHỊ THAY ĐỔI NGÀY BÁN TRÁI PHIẾU</b></div>
                <div>Số: ..../ĐNGDTP-B/TVSI-KH</div><p />
                <b>ĐỀ NGHỊ THAY ĐỔI NGÀY BÁN TRÁI PHIẾU</b> này được thành lập và gửi ngày {{Day}} tháng {{Month}} năm {{Year}}<p />
            </div>
            <div style="text-align:justify;">
                <div>Căn cứ theo HĐ khung về giao dịch Bán trái phiếu đã được ký kết giữa khách hàng và TVSI;</div>
                <div>Căn cứ theo Đề nghị mua Trái phiếu số:  {{ContractNo}}/ĐNGDTP-M/TVSI-KH;</div>
                <div>Căn cứ theo Đề nghị bán Trái phiếu số:  {{ContractNo}}/ĐNGDTP-B/TVSI-KH và các đề nghị/ phụ lục liên quan (nếu có)</div><p />

                <p><b>TỪ BÊN BÁN:</b> Khách hàng: {{CustName}}</p>
                <p>Giấy CMND/CCCD/CNĐKDN số: {{CardID}}</p>
                <p>Ngày cấp: {{IssueDate}}</p>
                <p>Nơi cấp: {{CardIssuer}}</p>
                <p>Địa chỉ: {{Address}}</p>
                <p>Số TK GDCK: 044C{{AccountNo}}</p>
                <p>Tại: {{TVSI_COMPANY_NAME}}</p>
                <p>Phần dành riêng cho khách hàng là tổ chức</p>
                <p>Người đại diện theo pháp luật: {{AuthorizedName}}</p>
                <p>Chức vụ: {{Position}}</p>
                <p>Người đại diện theo ủy quyền: {{OwnName}}</p>
                <p>Theo Giấy ủy quyền số: {{AuthorizedNo}}</p>
                <p>Ngày: {{AuthorizedDate}}</p>

                <b>ĐẾN: CÔNG TY CỔ PHẦN CHỨNG KHOÁN TÂN VIỆT ("TVSI")</b><p />
                <b>1.	Bên Bán đặt Bán trái phiếu cho TVSI theo các điều khoản dưới đây và quy định của Hợp Đồng Khung "về giao dịch bán trái phiếu"</b><p />
                1.1.	<u>Thông tin trái phiếu giao dịch<p /></u>
                -	Tên Trái Phiếu: {{BOND_NAME}}<p />
                -	Mã Trái Phiếu: {{BOND_CODE}}<p />
                -	Tổ chức phát hành: {{BOND_ISSUER}}<p />
                -	Loại hình trái phiếu: {{BOND_LOTTYPE}}<p />
                -	Ngày phát hành: {{OCBOND_ISSUEDATE}}<p />
                -	Ngày đáo hạn: {{OCBOND_MATURITYDATE}}<p />
                -	Mệnh giá: {{BOND_PARVALUE}}<p />
                1.2.	<u>Thông tin giao dịch<p /></u>
                -	Ngày giao dịch điều chỉnh: {{SellDate}}<p />
                -	Số lượng Trái phiếu Giao dịch: {{Volume}}  Trái phiếu;<p />
                -	Đơn giá bán: {{OpenPrice}} VNĐ/Trái phiếu<p />
                -	Tổng giá bán trái phiếu: {{SellPriceSellBefore}} VNĐ;<p />
                <i>(Bằng chữ: {{SellPriceSellBeforeByWord}} đồng</i><p />
                -	Thuế thu nhập cá nhân (nếu có): {{PITSellBefore}} đồng<p />
                <i>(Bằng chữ: {{PITSellBeforeByWord}} đồng)</i><p />
                -	Số tiền bán Trái Phiếu Bên Bán đã nhận tương ứng với số Trái Phiếu được chuyển giao: {{TotalCouponReceived}} đồng<p />
                <i>(Bằng chữ: {{TotalCouponReceivedByWord}} đồng)</i><p />
                -	Số tiền Bên Bán thực nhận sau khi trừ thuế (nếu có) và trừ số tiền đã nhận:{{NetAmount}} đồng.
                <i>(Bằng chữ: {{NetAmountByWord}} đồng).</i><p />
                -	Ngày chuyển giao quyền sở hữu trái phiếu: {{TradeDate}}<p />

                <b>2.	Phương thức thanh toán:</b><p />
                Bên Mua sẽ thực hiện thanh toán toàn bộ Số tiền Bên Bán thực nhận cho Bên Bán bằng việc chuyển khoản vào Tài khoản thanh toán của Bên Bán, trường hợp ngày thanh toán trùng ngày nghỉ (thứ 7, chủ nhật), ngày lễ, Tết việc chuyển tiền sẽ thực hiện vào các ngày làm việc kế tiếp.<p />
                Thông tin tài khoản thanh toán<p />
                -	Người thụ hưởng	:	{{BankAccountName}}<p />
                -	Số tài khoản	:	{{BankAccountNo}}<p />
                -	Mở tại          :	{{BankName}} - {{BankBranchName}}<p />

                <b>3.	Sau khi các Bên hoàn thành các nghĩa vụ của mình, các Bên đồng ý rằng:</b><p />
                -	Số lượng Trái phiếu còn lại mà Bên Bán sở hữu sau khi đã thực hiện chuyển giao số Trái phiếu nêu tại Mục 1 là: {{RemainVolume}} Trái phiếu<p />
                <i>(Bằng chữ: {{RemainVolumeByWord}} Trái phiếu)</i><p />

                <b>4.	Văn bản này là một Đề nghị thay đổi ngày bán Trái phiếu quy định tại Hợp Đồng Khung về giao dịch bán Trái phiếu.</b><p />

            </div>
            <div style="text-align:center;">
                <b>BÊN BÁN</b><p />
                [Sau khi Lệnh này được Bên Bán lập, dữ liệu lịch sử lập Lệnh của Bên Bán sẽ được ghi tại đây.]
                <p></p>
                <p></p>
            </div>
        </td>
    </tr>
</table>
