﻿<table style="line-height:20px; font-family:Arial; font-size:12px;text-align:justify;" cellpadding="0" cellspacing="0">
    <tr>
        <td style="background:#fff; border:0px;">
            <div style="text-align:center;">
                <div><b>ĐỀ NGHỊ HOÀN TRẢ ỨNG TRƯỚC TIỀN BÁN TRÁI PHIẾU </b></div>
                <b>ĐỀ NGHỊ HOÀN TRẢ ỨNG TRƯỚC TIỀN BÁN TRÁI PHIẾU</b> này được lập và gửi ngày {{Day}} tháng {{Month}} năm {{Year}}<p />
            </div>
            <div style="text-align:justify;">
               
               
                <div>Căn cứ theo Đề nghị bán Trái phiếu số:  {{ContractNo}}/ĐNGDTP-B/TVSI-KH và các đề nghị/ phụ lục liên quan (nếu có)</div><p />

                <p><b>TỪ BÊN BÁN:</b> Khách hàng: {{CustName}}</p>
                <p>Giấy CMND/CCCD/CNĐKDN số: {{CardID}}</p>
                <p>Ngày cấp: {{IssueDate}}</p>
                <p>Nơi cấp: {{CardIssuer}}</p>
                <p>Địa chỉ: {{Address}}</p>
                <p>Số TK GDCK: 044C{{AccountNo}}</p>
                <p>Tại: {{TVSI_COMPANY_NAME}}</p>
                <p>Phần dành riêng cho khách hàng là tổ chức</p>
                <p>Người đại diện theo pháp luật: {{AuthorizedName}}</p>
                <p>Chức vụ: {{Position}}</p>
                <p>Người đại diện theo ủy quyền: {{OwnName}}</p>
                <p>Theo Giấy ủy quyền số: {{AuthorizedNo}}</p>
                <p>Ngày: {{AuthorizedDate}}</p>

                <b>ĐẾN: CÔNG TY CỔ PHẦN CHỨNG KHOÁN TÂN VIỆT ("TVSI")</b><p />
                <b>1.	Khách hàng đề nghị hoàn trả tiền bán Trái phiếu đã ứng trước theo thông tin dưới đây và thanh toán phí ứng trước tiền bán cho TVSI: {{TotalAdvAmount}} VND (Bằng chữ: {{TotalAdvAmountByWord}} đồng), cụ thể như sau:</b><p />
                {{tblAdvAutoInfo}}<p/>
                <b>2.	Phương thức thanh toán:</b><p/>

                Tại ngày {{TradeDate}}- đồng thời là Ngày Thực hiện việc chuyển giao quyền sở hữu {{Volume}} trái phiếu {{BOND_CODE}} ({{BOND_NAME}}) do {{BOND_ISSUER}} phát hành. Khách hàng đồng ý và đề nghị TVSI tự động khấu trừ trực tiếp tổng số tiền hoàn trả và Phí ứng trước tiền bán mà Khách hàng phải hoàn trả và thanh toán nêu trên vào số tiền Khách hàng thực nhận do bán Trái phiếu.<p />
                Sau khi khấu trừ, Khách hàng được xem là đã hoàn thành nghĩa vụ hoàn trả/thanh toán số tiền bán ứng trước và phí ứng trước tiền bán nêu trên cho TVSI.<p />
                Số tiền Khách hàng nhận còn lại sau khi hoàn trả tổng số tiền Khách hàng phải hoàn trả và thanh toán và các khoản tiền bán Trái phiếu mà Bên Mua đã thanh toán cho Khách hàng trước đó (nếu có): {{NetAmountRemain}} VNĐ (Bằng chữ: {{NetAmountRemainByWord}} đồng).<p />
                TVSI sẽ thực hiện thanh toán toàn bộ Số tiền Khách hàng thực nhận còn lại cho Khách hàng bằng việc chuyển khoản vào Tài khoản thanh toán của Khách hàng, trường hợp ngày thanh toán trùng ngày nghỉ (thứ 7, chủ nhật), ngày lễ, Tết việc chuyển tiền sẽ thực hiện vào các ngày làm việc kế tiếp.<p />
                Thông tin tài khoản thanh toán:<p />
                -	Người thụ hưởng	:	{{BankAccountName}}<p />
                -	Số tài khoản	:	{{BankAccountNo}}<p />
                -	Mở tại          :	{{BankName}} - {{BankBranchName}}<p />

                <b>3.	Sau khi các Bên hoàn thành các nghĩa vụ của mình, các Bên đồng ý rằng:</b><p />
                {{tblRemainAdvInfo}}<p />

            </div>
            <div style="text-align:center;">
                <b>BÊN BÁN</b><p />
                [Sau khi Lệnh này được Bên Bán lập, dữ liệu lịch sử lập Lệnh của Bên Bán sẽ được ghi tại đây.]
                <p></p>
                <p></p>
            </div>
        </td>
    </tr>
</table>
