﻿
<table style="line-height:20px; font-family:Arial; font-size:12px;text-align:justify;">
    <tr>
        <td style="background:#fff; border:0px;">
            <div style="text-align:center;">
                <div><b>NHẬN BIẾT RỦI RO TRONG GIAO DỊCH TRÁI PHIẾU</b></div>
                <div><b>VÀ TUYÊN BỐ XÁC NHẬN GIAO DỊCH</b></div>
            </div>
            <div style="text-align:justify; padding: 5px;">
                Công ty Cổ phần Chứng khoán Tân Việt (TVSI) cung cấp dịch vụ Giao dịch trực tuyến cho Nhà đầu tư mở tài khoản giao dịch chứng khoán tại TVSI với mục đích gia tăng sự hài lòng cũng như mang lại sự thuận tiện, linh hoạt cho Nhà đầu tư trong quá trình giao dịch, rút ngắn thời gian xử lý mỗi giao dịch, qua đó giúp Nhà đầu tư tiết kiêm thời gian và chi phí.<p />
                Tuy nhiên ngoài các rủi ro trong giao dịch trực tuyến đã được quy định kèm hợp đồng đăng ký giao dịch trực tuyến, TVSI cũng khuyến cáo tới Nhà đầu tư các rủi ro mà Nhà đầu tư có thể gặp phải liên quan đến việc đầu tư trái phiếu. Nhà đầu tư chỉ nên tiến hành giao dịch khi đã hiểu và chấp nhận các rủi ro tiềm ẩn được công bố dưới đây:<p />

                <b>I.	CÁC RỦI RO LIÊN QUAN ĐẾN TRÁI PHIẾU</b><p />

                Khi tham gia giao dịch mua bán trái phiếu với và/hoặc tại TVSI, Nhà đầu tư hiểu và đồng ý chấp nhận các rủi ro có thể phát sinh từ giao dịch Trái phiếu, bao gồm:</p>

                1.	Rủi ro lãi suất:<p />
                Rủi ro lãi suất là việc giá Trái phiếu thay đổi khi lãi suất thị trường biến động. Khi lãi suất thị trường càng tăng, giá trái phiếu càng giảm và ngược lại lãi suất thị trường càng giảm, giá trái phiếu sẽ càng tăng. Nguyên nhân chính là do lãi suất của trái phiếu (coupon) đã được ấn định từ trước nên khi lãi suất thị trường giảm, trái phiếu với mức lãi suất cao hơn sẽ trở nên hấp dẫn hơn và ngược lại. Trái phiếu có thời gian đáo hạn càng dài thì mức độ tăng hay giảm giá càng cao. Đây là rủi ro liên quan đến Trái phiếu và các sản phầm đầu tư có thu nhập cố định nói chung.<p />
                Ngoài ra, đối với Trái phiếu có trả trái tức (coupon) định kỳ, Nhà đầu tư có thể gặp rủi ro tái đầu tư khi lãi suất tại thời điểm nhận trái tức thấp hơn lãi suất khi mua Trái phiếu.<p />
                2.	Rủi ro thanh khoản:<p />
                Rủi ro thanh khoản là việc Trái phiếu trong điều kiện thiếu tính thanh khoản, tức thiếu các giao dịch liên tục, Người sở hữu Trái phiếu sẽ khó tìm được người sẵn sàng mua lại Trái phiếu dẫn đến không chuyển thành tiền mặt ngay lập tức; hoặc nếu tìm được thì phải bán lại với giá rẻ hơn so với giá trị thực của Trái phiếu. Đây là rủi ro liên quan đến tất cả các sản phẩm đầu tư nói chung.<p />
                3.	Rủi ro lạm phát:<p />
                Rủi ro lạm phát là việc lạm phát tăng cao dẫn đến lãi suất thực của Trái phiếu (bằng lãi suất danh nghĩa của Trái phiếu trừ lạm phát) giảm xuống, do vậy làm mất giá trị của Trái phiếu. Đây là rủi ro liên quan đến Trái phiếu và các sản phầm đầu tư có thu nhập cố định nói chung.<p />
                4.	Rủi ro từ Tổ Chức Phát Hành<p />
                4.1.	Rủi ro Tổ Chức Phát Hành mua lại Trái phiếu trước hạn:<p />
                Đối với các trái phiếu có điều khoản cho phép Tổ chức phát hành có quyền mua lại trái phiếu trước hạn, nếu Tổ chức phát hành thực hiện quyền này thì Nhà đầu tư sẽ không đạt được mục đích ban đầu về thời gian đầu tư và kỳ vọng lợi nhuận khi tham gia mua trái phiếu.<p />
                4.2.	Rủi ro Tổ Chức Phát Hành mất khả năng thanh toán hay vi phạm các nghĩa vụ quy định trong các Văn kiện Trái phiếu:<p />
                Khi bất kỳ sự kiện vi phạm nào xảy ra, Tổ Chức Phát Hành sẽ có trách nhiệm thực hiện các biện pháp khắc phục hoặc thực hiện mua lại trái phiếu bắt buộc trước hạn. Việc thu hồi giá trị đầu tư của Nhà đầu tư trong một số trường hợp phụ thuộc vào kết quả xử lý tài sản đảm bảo (nếu có) và quyết định của cơ quan có thẩm quyền, Nhà đầu tư có thể không thu hồi được toàn bộ (hoặc một phần) giá trị đầu tư của mình.<p />
                5.	Rủi ro khác:<p />
                Là các rủi do được nêu tại Bản công bố thông tin của Tổ Chức Phát Hành liên quan đến trái phiếu mà Nhà đầu tư giao dịch.<p />

                Với Nhà đầu tư lựa chọn gói sản phẩm mà TVSI cam kết môi giới mua lại tại một thời điểm xác định trong tương lai bao gồm với việc mua 01 mã trái phiếu, rủi ro lãi suất, rủi ro thành khoản và rủi ro lạm phát sẽ được loại bỏ trong trường hợp Nhà đầu tư thực hiện đúng theo hợp đồng mua bán trái phiếu được quy định. Ngoại trừ trường hợp TVSI không đảm bảo Chỉ tiêu an toàn tài chính tối thiểu (theo quy định của pháp luật tại từng thời điểm). Tuy nhiên TVSI luôn cố gắng chuẩn bị các phương án đảm bảo thanh khoản, đảm bảo hạn mức và luôn duy trì tỷ lệ an toàn tài chính ở mức cao so với mức tối thiểu quy định của cơ quan quản lý.<p />
                Với Nhà đầu tư lựa chọn gói sản phẩm cho phép chuyển giao quyền sở hữu trước hạn bao gồm việc mua 01 mã trái phiếu, rủi ro lãi suất, rủi ro thành khoản và rủi ro lạm phát sẽ thấp hơn vì TVSI sẽ hỗ trợ Nhà đầu tư tìm kiếm người mua lại trái phiếu.<p />

                <b>II.	TUYÊN BỐ XÁC NHẬN GIAO DỊCH</b><p />

                Khi tham gia vào giao dịch này, Tôi/chúng tôi xin tuyên bố như sau:<p />
                1.	Tôi/chúng tôi hoàn toàn hiểu và nhận thức rõ ràng rằng tôi/chúng tôi đang giao dịch Trái phiếu với Công ty Cổ phần Chứng khoán Tân Việt (TVSI) và các tài liệu giao dịch ký kết là giữa tôi/chúng tôi với TVSI.<p />
                2.	Tôi/chúng tôi đã đọc và hiểu đầy đủ nội dung các hợp đồng, văn bản mà tôi/chúng tôi giao kết với TVSI theo các hình thức được TVSI quy định, điều khoản và điều kiện của trái phiếu và các tài liệu khác được TVSI yêu cầu xác nhận trong quá trình thực hiện giao dịch.<p />
                3.	Tôi/chúng tôi hoàn toàn nhận thức được rằng đây không phải là sản phẩm tiết kiệm và đồng ý rằng TVSI chỉ là một bên tham gia vào giao dịch mua bán trái phiếu với tôi/chúng tôi.<p />
                4.	Tôi/chúng tôi xác nhận đã cân nhắc kỹ các rủi ro và lợi ích của việc đầu tư trái phiếu và chấp nhận các rủi ro liên quan đến Trái phiếu như đã nêu trên đây và/hoặc nêu tại Bản công bố thông tin của Tổ Chức Phát Hành liên quan đến trái phiếu mà tôi/chúng tôi giao dịch.<p />

                <b>XÁC NHẬN CỦA NHÀ ĐẦU TƯ</b><p />

                <b>Tôi/Chúng tôi xác nhận đã đọc, hiểu rõ và đồng ý với tuyên bố xác nhận giao dịch cũng như các rủi ro trong giao dịch trái phiếu.</b><p />
                <i>(Sau khi được Nhà đầu tư xác nhận, dữ liệu lịch sử lập của Nhà đầu tư sẽ được ghi tại đây.)</i>
                <p></p>
                <p></p>
                <p />
                <p />
            </div>
        </td>
    </tr>
</table>
