﻿<table style="line-height:20px; font-family:Arial; font-size:12px;text-align:justify;" cellpadding="0" cellspacing="0">
    <tr>
        <td style="background:#fff; border:0px;">
            <div style="text-align:center;">
                <div><b>ĐỀ NGHỊ MUA TRÁI PHIẾU</b></div>
                <div>Số:..../ĐNGDTP-M/TVSI-KH</div>
                <b>ĐỀ NGHỊ MUA TRÁI PHIẾU</b> này được thành lập và gửi ngày {{Day}} tháng {{Month}} năm {{Year}}<p/>
            </div>
            <div style="text-align:justify">
			
                Căn cứ theo HĐ khung về giao dịch Bán trái phiếu đã được ký kết giữa khách hàng và TVSI;<div />
                <b>TỪ BÊN MUA:</b> Khách hàng : {{CustName}}<p />
                Giấy CMND/CCCD/CNĐKDN số: {{CardID}}<p />
                Ngày cấp: {{IssueDate}}<p />
                Nơi cấp: {{CardIssuer}}<p />
                Địa chỉ: {{Address}}<p />
                Số TK GDCK: 044C{{AccountNo}}<p />
                Tại: {{TVSI_COMPANY_NAME}}<p />
                Phần dành riêng cho khách hàng là tổ chức<p />
                Người đại diện theo pháp luật: {{AuthorizedName}}<p />
                Chức vụ: {{Position}}<p />
                Người đại diện theo ủy quyền: {{OwnName}}<p />
                Theo Giấy ủy quyền số: {{AuthorizedNo}}<p />
                Ngày: {{AuthorizedDate}}<p />

                <b>ĐẾN: CÔNG TY CỔ PHẦN CHỨNG KHOÁN TÂN VIỆT ("TVSI")</b><p/>
                <b>1.	Bên Mua đặt mua trái phiếu từ TVSI theo các điều khoản dưới đây và quy định của Hợp Đồng Khung "về việc mua trái phiếu"</b><p/>
                1.1.	<u>Thông tin Trái phiếu giao dịch<p /></u>
                -	Tên Trái Phiếu: {{BOND_NAME}}<p />
                -	Mã Trái Phiếu: {{BOND_CODE}}<p />
                -	Tổ chức phát hành: {{BOND_ISSUER}}<p />
                -	Loại hình trái phiếu: {{BOND_LOTTYPE}}<p />
                -	Ngày phát hành: {{OCBOND_ISSUEDATE}}<p />
                -	Ngày đáo hạn: {{OCBOND_MATURITYDATE}}<p />
                -	Mệnh giá: {{BOND_PARVALUE}}<p />
                1.2.	<u>Thông tin giao dịch<p /></u>
				- 	Ngày giao dịch: {{TradeDate}}<p />				
				-	Số lượng Trái phiếu Giao dịch: {{Volume}} Trái phiếu;<p />
                -	Đơn giá mua: {{OpenPrice}} VNĐ/Trái phiếu;<p />
                -	Tổng giá mua trái phiếu: {{Amount}} VNĐ;<p />
                <i>(Bằng chữ: {{AmountByWord}} đồng)</i><p />
                -	Ngày nhận quyền sở hữu trái phiếu: {{TradeDate}}<p />

                <b>2.	Phương thức thanh toán:</b><p/>
                Vào Ngày giao dịch, Bên Mua sẽ thực hiện thanh toán toàn bộ Tổng giá mua Trái Phiếu như quy định tại Khoản 3.4 Hợp đồng này cho Bên Bán ngay sau khi ký Hợp đồng theo một trong hai cách dưới đây:<p />
                a.	Chuyển khoản vào tài khoản của Bên Bán theo thông tin sau:<p />
                -	Người thụ hưởng	:	Công ty cổ phần chứng khoán Tân Việt<p />
                -	Số tài khoản	:	{{TVSI_DEPOSIT_NO}}<p />
                -	Mở tại          :	{{TVSI_DEPOSIT_A}}<p />
                -	Nội dung	    :	{{CustName}} TK 044C{{AccountNo}} chuyển tiền mua {{Volume}} trái phiếu {{BOND_CODE}}<p />
                Hoặc<p />
                b.	Chuyển tiền vào Tài khoản giao dịch chứng khoán của Bên Mua nêu tại phần đầu Hợp đồng này bằng cách nộp tiền vào một trong các tài khoản ngân hàng chuyên dụng của Công ty cổ phần Chứng khoán Tân Việt dành cho nhà đầu tư với nội dung: Nộp tiền tài khoản 044C{{AccountNo}} của {{CustName}}.<p />
                TVSI sẽ tự động cắt tiền từ tài khoản giao dịch chứng khoán của Bên Mua để thanh toán Tổng giá mua Trái Phiếu vào tài khoản Bên Bán theo thông tin nêu tại mục 1 tại đây.<p/>

                <b>3.	Quyền nhận lãi Trái phiếu và các quyền, nghĩa vụ khác phát sinh liên quan đến Trái phiếu.</b><p />
                Bên Mua sẽ được hưởng mọi quyền lợi và nghĩa vụ hợp pháp của Trái chủ đối với số Trái phiếu nhận chuyển nhượng kể từ ngày Tổ chức phát hành và/hoặc Đại lý Đăng ký Trái phiếu xác nhận chuyển quyền.<p />
                Thông tin tài khoản đăng ký của Chủ sở hữu trái phiếu để nhận gốc và lãi trái phiếu hoặc các quyền lợi khác bằng tiền của Tổ chức phát hành như sau:<p />
                -	Tên tài khoản	: 	{{BankAccountName}}<p />
                -	Số tài khoản	: 	{{BankAccountNo}}<p />
                -	Mở tại	        : 	{{BankName}} - {{BankBranchName}}<p />

                <b>4.	Văn bản này là một Đề nghị mua trái phiếu quy định tại Hợp Đồng Khung về giao dịch mua trái phiếu.</b><p />
            </div>
            <div style="text-align:center">
                <b>BÊN MUA</b><p />
                [Sau khi Lệnh này được Bên Mua lập, dữ liệu lịch sử lập Lệnh của Bên Mua sẽ được ghi tại đây.]
                <p></p>
                <p></p>
                <p /><br/>
            </div>
        </td>
    </tr>
</table>

<hr />
<table style="line-height:20px; font-family:Arial; font-size:12px;text-align:justify;" cellpadding="0" cellspacing="0">
    <tr style="background:#fff; vertical-align:text-top; border:0px;">
        <td style="width:50%; border:0px;">
            <b>ĐẠI LÝ</b><p />
            {{BOND_ISSUEAGENCY}}<p />
        </td>
        <td style="width:50%; border:0px;">
            <b>TỔ CHỨC PHÁT HÀNH</b><p />
            {{BOND_ISSUER}}<p />
        </td>
    </tr>
</table>

<table style="line-height:20px; font-family:Arial; font-size:12px;text-align:justify;" cellpadding="0" cellspacing="0">
    <tr>
        <td style="background:#fff; border:0px;" colspan="2">
            <div style="text-align:center;">
                <b>ĐỀ NGHỊ CHUYỂN NHƯỢNG</b><p />
                <b>{{BOND_NAME}}</b><p />
                <b>TÊN TRÁI PHIẾU: {{BOND_CODE}}</b><p />
            </div>
            <div style="text-align:justify">
                <b>I.	Bên Chuyển nhượng (Bên A):</b><p />
                Tên tổ chức: {{TVSI_COMPANY_NAME}} ({{TVSI_COMPANY_SHORT_NAME}})<p />
                Giấy phép thành lập và hoạt động: {{TVSI_COMPANY_REGISTER_NO}}<p />
                Địa chỉ: {{TVSI_COMPANY_HEADQUARTER}}<p />
                Điện thoại: {{TVSI_COMPANY_PHONE}}<p />
                Fax: {{TVSI_COMPANY_FAX}}<p />
                Số tài khoản: {{TVSI_DEPOSIT_NO}}<p />
                Tại: {{TVSI_DEPOSIT_A}}<p />
                Người đại diện theo pháp luật: {{TVSI_COMPANY_REPRE_NAME}}<p />
                Chức vụ: {{TVSI_COMPANY_REPRE_POSITION}}<p />
                Người đại diện theo ủy quyền:<p />
                Chức vụ:<p />
                Theo Giấy ủy quyền số: {{TVSI_AUTH_NO}}<p />
                Ngày: {{TVSI_AUTH_DATE}}<p />

                <b>II.	Bên Nhận chuyển nhượng (Bên B):</b><p />
                Tên Cá nhân/Tổ chức: {{CustName}}<p />
                Giấy CMND/CNĐKDN số: {{CardID}}<p />
                Ngày cấp: {{IssueDate}}<p />
                Nơi cấp: {{CardIssuer}}<p />
                Địa chỉ: {{Address}}<p />
                Số TK GDCK: 044C{{AccountNo}}<p />
                Tại: {{TVSI_COMPANY_NAME}}<p />
                <i>Phần dành riêng cho khách hàng là tổ chức</i><p />
                Người đại diện theo pháp luật: {{AuthorizedName}}<p />
                Chức vụ: {{Position}}<p />
                Người đại diện theo ủy quyền: {{OwnName}}<p />
                Theo Giấy ủy quyền số: {{AuthorizedNo}}<p />
                Ngày: {{AuthorizedDate}}<p />

                <b>Bên Chuyển nhượng và Bên Nhận chuyển nhượng đề nghị Đại lý xác nhận việc chuyển nhượng Trái Phiếu theo nội dung như sau:</b><p />

                <b>III.	 Nội dung chuyển nhượng</b><p />
                1.	Tên Trái Phiếu	:	{{BOND_NAME}}<p />
                2.	Mã Trái phiếu	:	{{BOND_CODE}}<p />
                3.	Ngày phát hành	:	{{OCBOND_ISSUEDATE}}<p />
                4.	Ngày đáo hạn	:	{{OCBOND_MATURITYDATE}}<p />
                5.	Số lượng Trái Phiếu chuyển nhượng	:	{{Volume}} Trái Phiếu<p />
                6.	Mệnh giá mỗi Trái Phiếu	:	{{BOND_PARVALUE}}<p />
                7.	Tổng giá trị Trái Phiếu chuyển nhượng theo mệnh giá	:	{{TotalParValue}} VND<p />
                8.	Tổng giá trị Trái Phiếu chuyển nhượng	:	{{Amount}} VND<p />
                9.	Phí chuyển nhượng	:	0 VND<p />

                Bên Nhận chuyển nhượng sẽ trở thành Người Sở Hữu Trái Phiếu, được nhận tất cả các khoản thanh toán, thông báo, báo cáo và được hưởng các quyền lợi khác liên quan đến Trái Phiếu về số Trái Phiếu chuyển nhượng nêu trên kể từ ngày Đại lý xác nhận đã đăng ký vào Sổ đăng ký nêu tại dưới đây.<p />

                {{BOND_ISSUER}} ủy quyền cho {{TVSI_COMPANY_NAME}} ({{TVSI_COMPANY_SHORT_NAME}}) xác nhận đăng ký chuyển nhượng theo yêu cầu của Nhà đầu tư/Người Sở Hữu Trái Phiếu. {{TVSI_COMPANY_SHORT_NAME}} chỉ xác nhận tính hợp lệ về thủ tục và việc đăng ký quyền sở hữu Trái Phiếu, không xác nhận việc thanh toán giữa hai Bên.<p />

                Hai Bên thừa nhận, trong mọi trường hợp, {{BOND_ISSUER}} là đơn vị chịu trách nhiệm thanh toán gốc và/hoặc lãi Trái Phiếu cho Người Sở Hữu Trái Phiếu và cam đoan chịu trách nhiệm về tính đầy đủ, hợp pháp của nguồn tiền thanh toán gốc và/hoặc lãi cho Người Sở Hữu Trái Phiếu.<p />

                Đề nghị chuyển nhượng này được lập thành 03 (ba) bản gốc. Bên Chuyển nhượng giữ 01 (một) bản, Bên Nhận chuyển nhượng giữ 01 (một) bản và Đại lý giữ 01 (một) bản.<p />

            </div>
        </td>
    </tr>
</table>

<table style="line-height:20px; font-family:Arial; font-size:12px;text-align:justify;" cellpadding="0" cellspacing="0">
    <tr style="background:#fff;  border:0px; vertical-align:text-top">
        <td style="border:0px; width:50%;">
            <b>Bên Nhận chuyển nhượng</b><p />
            <i>[Sau khi Đề nghị chuyển nhượng này được Bên Nhận chuyển nhượng xác nhận, dữ liệu lịch sử lập Đề nghị chuyển nhượng của Bên Nhận sẽ được ghi tại đây.]</i><p />
        </td>
        <td style="border:0px;">
            <b>Bên Chuyển nhượng</b><p />
        </td>
    </tr>
    <tr style="background:#fff;border:0px;">
        <td style="text-align:center;border:0px;" colspan="2">
            Xác nhận đã đăng ký vào Sổ Đăng ký tại <b>ĐẠI LÝ</b><p />
            Ngày {{Day}} tháng {{Month}} năm {{Year}}
        </td>
    </tr>
</table>
