﻿@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using TVSI.Bond.WebAPI.Areas.HelpPage
@using TVSI.Bond.WebAPI.Areas.HelpPage.Models
@model IGrouping<HttpControllerDescriptor, ApiDescription>

@{
    var controllerDocumentation = ViewBag.DocumentationProvider != null ? 
        ViewBag.DocumentationProvider.GetDocumentation(Model.Key) : 
        null;
}

<h2 id="@Model.Key.ControllerName">@Model.Key.ControllerName</h2>
@if (!String.IsNullOrEmpty(controllerDocumentation))
{
    <p>@controllerDocumentation</p>
}
<table class="help-page-table">
    <thead>
    <tr><th>API</th><th>Description</th><th>Note</th></tr>
    </thead>
    <tbody>
    @foreach (var api in Model)
    {
        <tr>
            <td class="api-name"><a href="@Url.Action("Api", "Help", new { apiId = api.GetFriendlyId() })">@api.HttpMethod.Method @api.RelativePath.Replace("?src={src}&lang={lang}", "")</a></td>
            <td class="api-documentation">
                @if (api.Documentation != null)
                {
                    <p>@api.Documentation</p>
                }
                else
                {
                    <p>No documentation available.</p>
                }
            </td>
            <td class="api-documentation">
                @{
                    var noteAttribute = api.ActionDescriptor.GetCustomAttributes<NoteAttribute>
                        ().FirstOrDefault();
                    if (noteAttribute != null)
                    {
                        <p>@noteAttribute.Note</p>
                        @(!noteAttribute.IsImplement ? @Html.Raw("<p style='color:red;'>Chưa cài đặt<p>") : @Html.Raw(""))
                    }
                }
            </td>
        </tr>
    }
    </tbody>
</table>