﻿@using System.Web.Http.Description
@using TVSI.Bond.WebAPI.Areas.HelpPage.Models
@using TVSI.Bond.WebAPI.ResourceFile

@model HelpPageApiModel

@{
    ApiDescription description = Model.ApiDescription;
    var errorList = LanguageHelper.GetErrorListByApiName(description.ActionDescriptor.ActionName);
}
<h2 style="color: #ff0000;">@description.HttpMethod.Method @description.RelativePath</h2>
<div>
    <p style="font-size: 16px;">@description.Documentation</p>

    <h2 style="color:#0000ff">Request Information</h2>

    <h3>URI Parameters</h3>
    @Html.DisplayFor(m => m.UriParameters, "Parameters")

    <h3>Body Parameters</h3>

    <p>@Model.RequestDocumentation</p>

    @if (Model.RequestModelDescription != null)
    {
        @Html.DisplayFor(m => m.RequestModelDescription.ModelType, "ModelDescriptionLink", new { modelDescription = Model.RequestModelDescription })
        if (Model.RequestBodyParameters != null)
        {
            @Html.DisplayFor(m => m.RequestBodyParameters, "Parameters")
        }
    }
    else
    {
        <p>None.</p>
    }

    @if (Model.SampleRequests.Count > 0)
    {
        <h3>Request Formats</h3>
        @Html.DisplayFor(m => m.SampleRequests, "Samples")
    }

    <h2 style="color: #dc143c;">Response Information</h2>

    <h3>Resource Description</h3>

    <p>@description.ResponseDescription.Documentation</p>

    @if (Model.ResourceDescription != null)
    {
        @Html.DisplayFor(m => m.ResourceDescription.ModelType, "ModelDescriptionLink", new { modelDescription = Model.ResourceDescription })
        if (Model.ResourceProperties != null)
        {
            @Html.DisplayFor(m => m.ResourceProperties, "Parameters")
        }
    }
    else
    {
        <p>None.</p>
    }

    @if (Model.SampleResponses.Count > 0)
    {
        <h3>Response Formats</h3>
        @Html.DisplayFor(m => m.SampleResponses, "Samples")
    }

    <h3>Error List of @description.ActionDescriptor.ActionName</h3>
    <table class="help-page-table">
        <thead>
        <tr><th>Return Code</th><th>Error Message</th></tr>
        </thead>
        <tbody>
        @foreach (var item in errorList)
        {
            <tr>
                <td class="api-name">@item.ErrorCode</td>
                <td class="api-documentation">@item.ErrorMsg</td>
            </tr>
        }
        </tbody>
    </table>

    <h3>Other RetCode</h3>
    <table class="help-page-table">
        <thead>
            <tr><th>Return Code</th><th>Error Message (VN)</th></tr>
        </thead>
        <tbody>
            <tr>
                <td class="api-name">000</td>
                <td class="api-documentation">Thành công</td>
            </tr>
        <tr>
            <td class="api-name">999</td>
            <td class="api-documentation">Lỗi hệ thống</td>
        </tr>
        <tr>
            <td class="api-name">998</td>
            <td class="api-documentation">API chưa cài đặt</td>
        </tr>
            <tr>
                <td class="api-name">900</td>
                <td class="api-documentation">{0} không được để trống</td>
            </tr>
        </tbody>
    </table>
</div>