﻿<table style="line-height:20px; font-family:Arial; font-size:12px;text-align:justify; border:0px;" cellpadding="0" cellspacing="0">
    <tr>
        <td style="background:#fff; border:0px;" colspan="2">
            <div style="text-align:center;">
                <div><b>ĐỀ NGHỊ BÁN TRÁI PHIẾU</b></div>
                <div>Số:..../ĐNGDTP-B/TVSI-KH</div>
                <b>ĐỀ NGHỊ BÁN TRÁI PHIẾU</b> này được thành lập và gửi ngày {{Day}} tháng {{Month}} năm {{Year}}<p />
            </div>
            <div style="text-align:justify">
                Căn cứ theo HĐ khung về giao dịch Bán trái phiếu đã được ký kết giữa khách hàng và TVSI;<div />
                Căn cứ theo Đề nghị mua Trái phiếu số:  .../ĐNGDTP-M/TVSI-KH;<div /><p />

                <b>TỪ BÊN BÁN:</b> Khách hàng: {{CustName}}<p />
                Giấy CMND/CCCD/CNĐKDN số: {{CardID}}<p />
                Ngày cấp: {{IssueDate}}<p />
                Nơi cấp: {{CardIssuer}}<p />
                Địa chỉ: {{Address}}<p />
                Số TK GDCK: 044C{{AccountNo}}<p />
                Tại: {{TVSI_COMPANY_NAME}}<p />
                Phần dành riêng cho khách hàng là tổ chức<p />
                Người đại diện theo pháp luật: {{AuthorizedName}}<p />
                Chức vụ: {{Position}}<p />
                Người đại diện theo ủy quyền: {{OwnName}}<p />
                Theo Giấy ủy quyền số: {{AuthorizedNo}}<p />
                Ngày: {{AuthorizedDate}}<p />

                <b>ĐẾN: CÔNG TY CỔ PHẦN CHỨNG KHOÁN TÂN VIỆT ("TVSI")</b><p />
                <b>1.	Bên Bán đặt Bán trái phiếu cho TVSI theo các điều khoản dưới đây và quy định của Hợp Đồng Khung "về giao dịch bán trái phiếu"</b><p />

                1.1.	<u>Thông tin trái phiếu giao dịch<p /></u>
                -	Tên Trái Phiếu: {{BOND_NAME}}<p />
                -	Mã Trái Phiếu: {{BOND_CODE}}<p />
                -	Tổ chức phát hành: {{BOND_ISSUER}}<p />
                -	Loại hình trái phiếu: {{BOND_LOTTYPE}}<p />
                -	Ngày phát hành: {{OCBOND_ISSUEDATE}}<p />
                -	Ngày đáo hạn: {{OCBOND_MATURITYDATE}}<p />
                -	Mệnh giá: {{BOND_PARVALUE}}<p />
                1.2.	<u>Thông tin giao dịch<p /></u>
                -	Ngày giao dịch: {{SellDate}}<p />
                -	Số lượng Trái phiếu Giao dịch: {{Volume}}  Trái phiếu;<p />
                -	Đơn giá bán: {{SellPrice}} VNĐ/Trái phiếu;<p />
                -	Tổng giá bán trái phiếu: {{SellPriceAmount}} VNĐ;<p />
                <i>(Bằng chữ: {{SellPriceAmountByWord}} đồng)</i><p />
                -	Ngày thanh toán: {{SellDate}}<p />
                -	Ngày chuyển giao quyền sở hữu trái phiếu: {{SellDate}}<p />

                <b>2.	Phương thức thanh toán:</b><p />

                Bên Mua sẽ thực hiện thanh toán toàn bộ Số tiền Bên Bán thực nhận cho Bên Bán bằng việc chuyển khoản vào Tài khoản thanh toán của Bên Bán, trường hợp ngày thanh toán trùng ngày nghỉ (thứ 7, chủ nhật), ngày lễ, Tết việc chuyển tiền sẽ thực hiện vào các ngày làm việc kế tiếp.<p />
                Thông tin tài khoản thanh toán:<p />
                -	Người thụ hưởng	:	{{BankAccountName}}<p />
                -	Số tài khoản	:	{{BankAccountNo}}<p />
                -	Mở tại          :	{{BankName}} - {{BankBranchName}}<p />

                <b>3.	Chuyển giao cho Bên Mua quyền sở hữu Trái Phiếu trước Ngày giao dịch bán hay Ngày Thực hiện việc chuyển giao quyền sở hữu </b><p />
                Bên Bán không được chuyển giao cho Bên Mua quyền sở hữu Trái Phiếu trước Ngày Thực hiện việc chuyển giao quyền sở hữu.<p />
                Trừ trường hợp, trước và/hoặc tại Ngày Thực hiện việc chuyển giao quyền sở hữu Trái Phiếu nếu Tổ chức phát hành có thông báo về việc mua lại Trái Phiếu trước Ngày đáo hạn thì tại đây Bên Mua và Bên Bán đồng ý, ngay khi Bên Mua nhận được thông báo của Tổ chức phát hành thì Bên Mua sẽ được tự động chuyển nhượng Trái Phiếu từ Bên Bán sang Bên Mua tại Đại lý lưu ký, Bên Mua sẽ thanh toán cho Bên Bán tổng giá bán trái phiếu (đã trừ thuế phí) được tính như sau:<p />
                Tổng giá mua bán (đã trừ thuế, phí) = Tổng mệnh giá trái phiếu + khoản tiền phạt – Tổng số tiền lãi trái phiếu Bên Bán nhận từ Tổ chức phát hành (sau thuế nếu có)<p />
                Trong đó:<p />
                -	Tổng mệnh giá Trái phiếu = Số lượng trái phiếu giao dịch * Mệnh giá trái phiếu<p />
                -	Khoản tiền phạt: được xác định bằng tỷ lệ {{Rate}}%/năm tính từ thời điểm Bên Bán sở hữu trái phiếu đến ngày Bên Bán chuyển quyền sở hữu trái phiếu cho Bên Mua tại Đại lý lưu ký.<p />
                -	Tổng số tiền lãi trái phiếu Bên Bán nhận từ Tổ chức phát hành (sau thuế nếu có): tổng số tiền<p />

                <b>4.	Quyền nhận gốc và lãi Trái phiếu và các quyền, nghĩa vụ khác phát sinh liên quan đến Trái phiếu.</b><p />
                Bên Mua sẽ được hưởng mọi quyền lợi và nghĩa vụ hợp pháp của trái chủ đối với số Trái phiếu nhận chuyển nhượng kể từ ngày Tổ chức phát hành và/hoặc Đại lý Đăng ký Trái phiếu xác nhận chuyển quyền.<p />

                <b>5.	Văn bản này là một Đề nghị bán Trái phiếu quy định tại Hợp Đồng Khung về giao dịch bán Trái phiếu.</b><p />
            </div>
            <div style="text-align:center">
                <b>BÊN BÁN</b><p />
                [Sau khi Lệnh này được Bên Bán lập, dữ liệu lịch sử lập Lệnh của Bên Bán sẽ được ghi tại đây.]
                <p />
                <p /><p /><br />
            </div>
        </td>
    </tr>

</table>
<hr/>
<table style="line-height:20px; font-family:Arial; font-size:12px;text-align:justify;" cellpadding="0" cellspacing="0">
    <tr style="background:#fff; vertical-align:text-top; border:0px;">
        <td style="width:50%; border:0px;">
            <b>ĐẠI LÝ</b><p />
            {{BOND_ISSUEAGENCY}}<p />
        </td>
        <td style="width:50%; border:0px;">
            <b>TỔ CHỨC PHÁT HÀNH</b><p />
            {{BOND_ISSUER}}<p />
        </td>
    </tr>
    <tr>
        <td style="background:#fff; border:0px;" colspan="2">
            <div style="text-align:center;">
                <b>ĐỀ NGHỊ CHUYỂN NHƯỢNG</b><p />
                <b>{{BOND_NAME}}</b><p />
                <b>TÊN TRÁI PHIẾU: {{BOND_CODE}}</b><p />
            </div>
            <div style="text-align:justify">
                <b>I.	Bên Nhận chuyển nhượng (Bên A):</b><p />
                Tên tổ chức: {{TVSI_COMPANY_NAME}} ({{TVSI_COMPANY_SHORT_NAME}})<p />
                Giấy phép thành lập và hoạt động: {{TVSI_COMPANY_REGISTER_NO}}<p />
                Địa chỉ: {{TVSI_COMPANY_HEADQUARTER}}<p />
                Điện thoại: {{TVSI_COMPANY_PHONE}}<p />
                Fax: {{TVSI_COMPANY_FAX}}<p />
                Số tài khoản: {{TVSI_DEPOSIT_NO}}<p />
                Tại: {{TVSI_DEPOSIT_A}}<p />
                Người đại diện theo pháp luật: {{TVSI_COMPANY_REPRE_NAME}}<p />
                Chức vụ: {{TVSI_COMPANY_REPRE_POSITION}}<p />
                Người đại diện theo ủy quyền:<p />
                Chức vụ:<p />
                Theo Giấy ủy quyền số: {{TVSI_AUTH_NO}}<p />
                Ngày: {{TVSI_AUTH_DATE}}<p />

                <b>II.	Bên Chuyển nhượng (Bên B):</b><p />
                Tên Cá nhân/Tổ chức: {{CustName}}<p />
                Giấy CMND/CNĐKDN số: {{CardID}}<p />
                Ngày cấp: {{IssueDate}}<p />
                Nơi cấp: {{CardIssuer}}<p />
                Địa chỉ: {{Address}}<p />
                Số TK GDCK: 044C{{AccountNo}}<p />
                Tại: {{TVSI_COMPANY_NAME}}<p />
                <i>Phần dành riêng cho khách hàng là tổ chức</i><p />
                Người đại diện theo pháp luật: {{AuthorizedName}}<p />
                Chức vụ: {{Position}}<p />
                Người đại diện theo ủy quyền: {{OwnName}}<p />
                Theo Giấy ủy quyền số: {{AuthorizedNo}}<p />
                Ngày: {{AuthorizedDate}}<p />

                <b>Bên Chuyển nhượng và Bên Nhận chuyển nhượng đề nghị Đại lý xác nhận việc chuyển nhượng Trái Phiếu theo nội dung như sau:</b><p />

                <b>III.	 Nội dung chuyển nhượng</b><p />
                1.	Tên Trái Phiếu	:	{{BOND_NAME}}<p />
                2.	Mã Trái phiếu	:	{{BOND_CODE}}<p />
                3.	Ngày phát hành	:	{{OCBOND_ISSUEDATE}}<p />
                4.	Ngày đáo hạn	:	{{OCBOND_MATURITYDATE}}<p />
                5.	Số lượng Trái Phiếu chuyển nhượng	:	{{Volume}} Trái Phiếu<p />
                6.	Mệnh giá mỗi Trái Phiếu	:	{{BOND_PARVALUE}}<p />
                7.	Tổng giá trị Trái Phiếu chuyển nhượng theo mệnh giá	:	{{TotalParValue}} VND<p />
                8.	Tổng giá trị Trái Phiếu chuyển nhượng	:	{{SellPriceAmount}} VND<p />
                9.	Phí chuyển nhượng	:	0 VND<p />

                Bên Nhận chuyển nhượng sẽ trở thành Người Sở Hữu Trái Phiếu, được nhận tất cả các khoản thanh toán, thông báo, báo cáo và được hưởng các quyền lợi khác liên quan đến Trái Phiếu về số Trái Phiếu chuyển nhượng nêu trên kể từ ngày Đại lý xác nhận đã đăng ký vào Sổ đăng ký nêu tại dưới đây.<p />

                {{BOND_ISSUER}} ủy quyền cho {{TVSI_COMPANY_NAME}} ({{TVSI_COMPANY_SHORT_NAME}}) xác nhận đăng ký chuyển nhượng theo yêu cầu của Nhà đầu tư/Người Sở Hữu Trái Phiếu. {{TVSI_COMPANY_SHORT_NAME}} chỉ xác nhận tính hợp lệ về thủ tục và việc đăng ký quyền sở hữu Trái Phiếu, không xác nhận việc thanh toán giữa hai Bên.<p />

                Hai Bên thừa nhận, trong mọi trường hợp, {{BOND_ISSUER}} là đơn vị chịu trách nhiệm thanh toán gốc và/hoặc lãi Trái Phiếu cho Người Sở Hữu Trái Phiếu và cam đoan chịu trách nhiệm về tính đầy đủ, hợp pháp của nguồn tiền thanh toán gốc và/hoặc lãi cho Người Sở Hữu Trái Phiếu.<p />

                Đề nghị chuyển nhượng này được lập thành 03 (ba) bản gốc. Bên Chuyển nhượng giữ 01 (một) bản, Bên Nhận chuyển nhượng giữ 01 (một) bản và Đại lý giữ 01 (một) bản.<p />

            </div>
        </td>
    </tr>
    <tr style="background:#fff;  border:0px; vertical-align:text-top">
        <td style="border:0px;">
            <b>Bên Chuyển nhượng</b><p />
            <i>[Sau khi Đề nghị chuyển nhượng này được Bên Chuyển nhượng xác nhận, dữ liệu lịch sử lập Đề nghị chuyển nhượng của Bên chuyển sẽ được ghi tại đây.]</i><p />
        </td>
        <td style="border:0px;">
            <b>Bên Nhận chuyển nhượng</b><p />            
        </td>
    </tr>
    <tr style="background:#fff;border:0px;">
        <td style="text-align:center;border:0px;" colspan="2">
            Xác nhận đã đăng ký vào Sổ Đăng ký tại <b>ĐẠI LÝ</b><p />
            Ngày {{DaySell}} tháng {{MonthSell}} năm {{YearSell}}
        </td>
    </tr>
</table>
