<table style="margin: auto;">
    <tr>
        <td style="width:680px; height:60px; background-color:#ff0000;border: 0px solid #ff0000; ">
            <p style="color:white; font-size:18px; font-weight:bold; padding-left:40px; font-family:Tahoma;">THÔNG BÁO
                <br/>{Channel_Open}_{Department}_ĐĂNG KÝ THÔNG TIN THÀNH CÔNG</p></td>
    </tr>
    <tr>
        <td colspan="2"
            style="text-align:justify; width:700px; padding-left:30px; padding-right:30px; padding-top:20px; padding-bottom:20px; font-family:Tahoma; font-size:10pt;">
            <b> Kính gửi: {SaleName}</b>
            <br/>
            Thông báo khách hàng đăng ký mở tài khoản thành công ngày {CreateDate}
            <br/>
            <p style="padding-left:30px; font-weight:bold;">
                Họ tên: {FullName}<br/>
                Ngày sinh: {BirthDay}<br/>
                Số CMND: {CardID}<br/>
                Ngày cấp: {IssueDate}<br/>
                Số điện thoại: {Phone}<br/>
                Email: {Emai}<br/>
                Địa chỉ: {Address}<br/>
                Gói dịch vụ: {Package}<br/>
                Yêu cầu : {Note}
                <br/>
            </p>
            <b>Nhân viên chăm sóc liên hệ với khách hàng trong vòng 01 ngày làm việc để hỗ trợ kích hoạt tài </b><br/>
            <b>khoản thành công.</b>
            <br>
            <br/>Trân trọng cảm ơn.<br/>
            <b>Chứng khoán Tân Việt</b><br/>
        </td>
    </tr>
    <!--    <tr>
            <td colspan="2"
                style="text-align:justify; width:700px; padding-left:30px; padding-right:30px; padding-top:20px; padding-bottom:20px;font-family:Tahoma; font-size:10pt;">
                <b>Dear Mr/Ms Tạ Minh Chiến</b><br/>You have finished the registration open account at Tan Viet Securities
                Incorporation (TVSI):<br/>
                <p style="padding-left:30px; font-weight:bold;">Name: Tạ Minh Chiến<br/>
                    Date of birth: 19/05/1998<br/>
                    cardID : 073491053<br/>Date Issue: 18/03/2016<br/>Mobile phone: 0858195997<br/>Email:
                    chienbmq@gmail.com<br/>Address: Xã Tân Phước Hưng, Huyện Phụng Hiệp, Tỉnh Hậu Giang, czczx<br/>Notice:
                    <br/></p>TVSI customer service representative will contact you within 24 hours working day.<br/>Please
                kindly contact to TVSI Contact Center 1900 1885 if you have any questions.<br/>Thank you & Best Regard<br/>TVSI<br/>
            </td>
        </tr>
        <tr>
            <td colspan="2"><img src="http://www.tvsi.com.vn/images/dktk/footer_dangky_tai_khoan_email_vn.jpg"/></td>
        </tr>-->
</table>